PUBLIC_GNAGCHAT_OAUTH_PROVIDER_ID=oauthproviderid
PUBLIC_GNAGCHAT_API_URL=http://localhost:3000
GNAGCHAT_API_URL_INTERNAL=http://localhost:3000/api
PUBLIC_GNAGCHAT_BETTER_AUTH_URL=http://localhost:3000
PUBLIC_GNAGCHAT_LIVEKIT_URL=ws://localhost:7880
