BETTER_AUTH_SECRET=seeeeeecret
BETTER_AUTH_URL=http://localhost:5173
DATABASE_URL=data/sqlite.db
OAUTH_DISCOVERY_URL=https://oidc.example.com/.well-known/openid-configuration
OAUTH_CLIENT_ID=example-client-id
OAUTH_CLIENT_SECRET=example-client-secret
OAUTH_PROVIDER_ID=oauthproviderid
ROUTE_PREFIX=/api
CENTRIFUGO_API_KEY=your-centrifugo-api-key
CENTRIFUGO_ADMIN_PASSWORD=your-admin-password
CENTRIFUGO_ADMIN_SECRET=your-admin-secret
CENTRIFUGO_URL=http://centrifugo:8000
