GNAGCHAT_BETTER_AUTH_SECRET=seeeeeecret
GNAGCHAT_BETTER_AUTH_URL=http://localhost:5173
GNAGCHAT_DATABASE_URL=data/sqlite.db
GNAGCHAT_OAUTH_DISCOVERY_URL=https://oidc.example.com/.well-known/openid-configuration
GNAGCHAT_OAUTH_CLIENT_ID=example-client-id
GNAGCHAT_OAUTH_CLIENT_SECRET=example-client-secret
GNAGCHAT_OAUTH_PROVIDER_ID=oauthproviderid
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
LIVEKIT_URL=http://localhost:7880
